<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
        
<head>
  <link rel ="stylesheet" href="/public/Content/app.css">
</head><h1 class="display-4">Welcome to About Page</h1>

    <body background="\Assets\images\background1.jpg">   </body>
       
    
    

    
 
   




<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
