<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


       
   
            
    
    <style>
    div {text-align: center;}
    p {text-align: center;}
    h3,h4,h1 {text-align: center;}
    li {font-style: "font-family:verdana"}
    body {
    
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
    }
    </style>
    <body background="\Assets\images\background1.jpg">   </body>
       
    
    

    
 
   




<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
