<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  
               
    
    <style>
      div {text-align: center;}
      p {text-align: center;}
      h2,h4,h1,h5 {text-align: center;}
      li {font-style: "font-family:verdana"}
      body {
      
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      table, th, td {
  border: 3px solid black;
  border-collapse: collapse;

}

tr:nth-child(even),td:nth-child(even) {
  background-color: #CBECF2;
}

tr:nth-child(odd),td:nth-child(odd) {
  background-color: #F2D1CB;

}

tr:hover {background-color: red;}
      </style><div>
            <h1 class="display-4">Welcome to Husky Byte Website</h1>
            <h2>The Best Dog Sitter and Trainer in Town</h2>
            <h4><a href="/dog-list">Click here to Register</a></h4>
      <img src="\Assets\images\logo.jpg" width="20%" ></body>
<br><br>
      <body background="\Assets\images\background.jpg">   
        <table style="width:100%">


          <tr>
            <th style="background-color:gray;"colspan="5";><p>Other Dog Sitter and Trainer Location</p></th>
         </tr>
         
         <tr>
             <th>Name</th>
             <th>Location</th> 
             <th>Remaining Vacancy</th>
             <th>Price Range</th>
             <th>Services</th> 
             
           </tr>
           <tr>
             <th>Doge Sitter</th>
             <th>123 Main Street, Scarborough On</th> 
             <th>2</th>
             <th>$100~$200</th>
             <th>Grooming and Sitter</th> 
            
           </tr>
           <tr>
             <th>Doggy Trainer</th>
             <th>321 Kennedy Road, Markham On</th> 
             <th>9</th>
             <th>$150~$250</th>
             <th>Training</th> 
            
           </tr>
           <tr>
           <th>Dog Hard Sit Hard</th>
             <th>8456 Yonge St, Toronto On</th> 
             <th>4</th>
             <th>$130~$220</th>
             <th>Sitter and Trainer</th> 
            
           </tr>
         <tr>
           <th>Husky Byte 2.0</th>
             <th>8426 Pixie RD West, Montreal QC</th> 
             <th>11</th>
             <th>$110~$220</th>
             <th>Sitter and Trainer</th> 
             
           </tr>
         
         </table>




        
        
         <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




