<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  
               
    
    <style>
      div {text-align: center;}
      p {text-align: center;}
      h2,h4,h1,h5 {text-align: center;}
      li {font-style: "font-family:verdana"}
      body {
      
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
      }
      </style><div>
            <h1 class="display-4">Welcome to Husky Byte Website</h1>
            <h2>The Best Dog Sitter and Trainer in Town</h2>
            <h4><a href="/dog-list">Click here to Register</a></h4>
      <img src="\Assets\images\logo.jpg" width="20%" ></body>

      <body background="\Assets\images\background.jpg">   
        
         <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




